.Label {
    font-family: 'Poppins';
    font-weight: 500;
    position: fixed;
    z-index: 2;
    border-radius: .8rem;
    border : 1px solid rgb(154, 154, 154);
    padding: 0.8rem;
    resize : none;
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
    flex-direction: column;
    display: flex;
    padding-bottom: 1rem;
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(6px);
}

.LabelBlock {
    font-family: 'Poppins';
    font-weight: 500;
    background-color: rgba(0,0,0,0);
    z-index: 2;
    width : auto;
    border-radius: .2rem;
    height: 1.5rem;
    padding: 0.8rem;
    resize : none;
    margin: 0%;
    padding: 0%;
}

.Slider {
/* max width of your slider */
      max-width: 300px;
      /* Optional: Only If you want to center your slider in the page */
      margin: auto;
}

.Slider-Track {
/* Top value to align your track to the center of your thumb */
top: 8px;
/* thickness of the track */
height: 4px;
/* default color of your track */
background: var(--track-color);
}

 .Slider-Track.Slider-Track-0 {
      /* color of the track before the thumb */
      background: var(--main-color);
    }